* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter&family=Mada&family=Montserrat&family=Poppins&family=Roboto&display=swap");

nav{
    background-color: white;
    position: sticky;
    top: 0px;
    width: 95vw;
    z-index: 1;
}

.links > p {
  padding: 0px 20px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
.links > img {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  cursor: pointer;
}
.hero-section {
  width: 90vw;
  height: 30vw;
  border-radius: 30px;
  color: white;
  margin-inline: 5vw;
  background-image: url("./assets/hero-pi.png");
  background-size: cover;
}
.hero-section > div {
  padding: 20vh 80px;
  width: 40vw;
}
.hero-section > div > p {
  margin: 0px;
}
#p-1 {
  color: red;
  font-size: 20px;
  font-weight: 300;
}
#p-2 {
  font-weight: bold;
  font-size: 50px;
}
#p-3 {
  font-size: 20px;
  font-weight: 300;
}

.search-items {
  margin-inline: 6vw;
}
#search-input {
  width: 82vw;

  background-color: rgb(243, 243, 243);
  margin-right: -4px;
  border-radius: 10px 0px 0px 10px;
  outline: none;
}
#search-button {
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(80, 158, 47);
}
#search-input:hover {
  background-image: none;
}

#all-rec {
  background-color: rgb(234, 170, 0);
}
#veg-rec {
  background-color: rgb(196, 214, 0);
}
#non-veg-rec {
  background-color: rgb(220, 88, 42);
}
.recipes > div {
  width: 220px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 20px 10px;
}
.recipes {
  margin-inline: 7vw;
}
.main-display {
  margin-inline: 5vw;
}
.filter {
  width: 20vw;
}
.radio-buttons {
  flex-direction: column;
}
.dishes {
  width: 80vw;
}
.rad {
  height: 20px;
  width: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
#rating {
  font-size: 15px;
  margin: 0px;
  padding: 5px;
}
.dishes > div {
  margin: 10px;
}
.moto {
  width: 30vw;
}
#footer-input {
  background-image: url("./assets/at.svg");
  background-repeat: no-repeat;
  background-position: 170px 10px;
}
.footer-2 > div {
  width: 40px;
  height: 40px;
  background-color: rgb(10, 10, 76);
  margin: 10px;
  border-radius: 50%;
}
.footer-2 > div > img {
  padding: 35%;
}
#fb {
  padding-left: 40%;
}
.card {
  width: 18rem;
}
.card > img {
  height: 190px;
  width: 100%;
}
.footer-1 > div {
  margin-inline: 5px;
}
#menu {
  display: none;
  margin-right: -50vw;
  margin-top: 13px;
}
.burger-bar {
  position: fixed;
  top: 0px;
  background-color: white;
  width: 50vw;
  height: 100dvh;
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
}
.burger-bar > div > p {
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  .hero-section > div {
    padding: 2vh 50px;
  }
}
@media screen and (max-width: 1100px) {
  #p-2 {
    font-size: 35px;
  }
  #p-1,
  #p-3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 810px) {
  #p-2 {
    font-size: 28px;
  }
  #p-1,
  #p-3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  #p-2 {
    font-size: 22px;
    font-weight: normal;
  }
  #p-1,
  #p-3 {
    font-size: 16px;
  }
  .hero-section > div {
    width: 90vw;
  }
}
@media screen and (max-width: 412px) {
  #p-2 {
    font-size: 16px;
    font-weight: normal;
  }
  #p-1,
  #p-3 {
    font-size: 10px;
  }
  .hero-section > div {
    width: 90vw;
  }
}
@media screen and (max-width: 750px) {
  .footer-2 > div {
    display: none;
  }
  .companies > p,
  .resources > p {
    display: none;
  }
}
@media screen and (max-width: 585px) {
  .subscribe > img,
  .subscribe > p,
  #footer-bar {
    display: none;
  }
  .moto {
    width: 80vw;
  }
}
@media screen and (max-width: 962px) {
  #search-input {
    width: 70vw;
  }
  .main-display {
    flex-direction: column;
  }
  .filter > h4 {
    display: none;
  }
  .radio-buttons {
    flex-direction: row;
  }
  .filter {
    width: 95vw;
  }
  .dishes {
    width: 95vw;
  }
}
@media screen and (max-width: 321px) {
  #search-input {
    width: 50vw;
  }
  #menu {
    margin-right: -20vw;
  }
}

@media screen and (max-width: 510px) {
  #menu {
    display: block;
  }
  .links > p,
  .links > img {
    display: none;
  }
  .links {
    display: none;
  }
}
